/*.textDash{
    grid-area: text;
    margin: 25px;
    
}

.cardHover:hover{
    box-shadow: 5px 10px 20px 1px rgba(81, 77, 77, 0.5) !important;
}

.titleDash{
    color: white;
    text-align: center;
}

.textDash{
    font-size:0.9rem;
    padding:0.4rem 1.9rem;
    color: white;

}

.container-fluid .rowDash{
    padding-top: 1rem;
}

.cardBodyDash{
padding: 2rem 0!important;
}

.overflowDash{
    overflow:hidden;
}

.hoverEffect:hover{
    cursor: pointer;

}*/

.Left{
    text-align:center;
    width:60%;

  }

.DashWrapper{
    margin-top:125px;
  }

  

.Right{
    margin-right: 0px;
  }

.PrimaryButton{
    padding:10px;
    margin:auto;
    margin-bottom: 20px;
    font-size:15px;
    width:175px;
    height: 45px;
    color: white;
    border-radius: 100px;
    position: relative;
    background: linear-gradient(to right, #007bff 0%, #33CCFF 100%);
  }

/*.Button= {
    padding:10px;
    font-size:15px;
    text-align:center;
    justify-content: center;
    align-items: center;
    width:175px;
    height: 45px;
    color: white;
    border-radius: 100px;
    position: relative;
    background: linear-gradient(to right, #007bff 0%, #33CCFF 100%);
  }*/

.Image{
    width: 40%;
    height: 80%;
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 5%;
    margin: auto;
    border-radius: 3px;
    background: white;
}
@media screen and (max-width: 1000px) {
    .imgDash {
      display: none;
    }
    .Left{
        width:100%;
    }
  }
